# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtualenv
venv/
env/

# Django DB/Media
db.sqlite3
*.sqlite3
media/
**/media/
uploads/
logs/
*.log
nohup.out

# Ignore any folder named "texts" and its contents
**/texts/

# Specific bot media folders
tg_bots/bot_private/media/
tg_bots/bot_public/media/

# Environment
.env
*.env

# Node/npm (если есть фронт)
node_modules/
npm-debug.log*

# Static (если Django сам собирает)
staticfiles/
core/static/course/

# OS-specific
.DS_Store
Thumbs.db

# Backups/temp
*.tar.gz
*.bak
*.swp
*.tmp
*.old

# VS Code/etc
.vscode/
.idea/
systemctl*
