● vscode-smart-cleaner.service - Smart cleaner for inactive VSCode Server
     Loaded: loaded (/etc/systemd/system/vscode-smart-cleaner.service; static)
     Active: inactive (dead) since Tue 2025-05-13 02:46:55 MSK; 22ms ago
TriggeredBy: ● vscode-smart-cleaner.timer
    Process: 398366 ExecStart=/usr/local/bin/vscode-smart-cleaner.sh (code=exited, status=0/SUCCESS)
   Main PID: 398366 (code=exited, status=0/SUCCESS)
        CPU: 9ms

May 13 02:46:55 graninilan.fvds.ru systemd[1]: Starting Smart cleaner for inactive VSCode Server...
May 13 02:46:55 graninilan.fvds.ru vscode-smart-cleaner.sh[398366]: [VSCode-Cleaner] VSCode session is active — skipping.
May 13 02:46:55 graninilan.fvds.ru systemd[1]: vscode-smart-cleaner.service: Succeeded.
May 13 02:46:55 graninilan.fvds.ru systemd[1]: Finished Smart cleaner for inactive VSCode Server.
