[0;1;32m●[0m celery.service - Celery Service
     Loaded: loaded (/etc/systemd/system/celery.service; enabled; vendor preset: enabled)
     Active: [0;1;32mactive (running)[0m since Mon 2025-05-26 17:34:40 MSK; 1min 19s ago
   Main PID: 317673 (celery)
      Tasks: 2 (limit: 2178)
     Memory: 72.7M
        CPU: 1.447s
     CGroup: /system.slice/celery.service
             ├─317673 /root/crm/venv/bin/python3 /root/crm/venv/bin/celery -A config worker --loglevel=INFO
             └─317692 /root/crm/venv/bin/python3 /root/crm/venv/bin/celery -A config worker --loglevel=INFO

May 26 17:34:42 graninilan.fvds.ru celery[317673]:                 .> celery           exchange=celery(direct) key=celery
May 26 17:34:42 graninilan.fvds.ru celery[317673]:                 
May 26 17:34:42 graninilan.fvds.ru celery[317673]: [tasks]
May 26 17:34:42 graninilan.fvds.ru celery[317673]:   . config.celery.debug_task
May 26 17:34:42 graninilan.fvds.ru celery[317673]:   . core.tasks.convert_audio_to_mp3
May 26 17:34:42 graninilan.fvds.ru celery[317673]:   . core.tasks.send_broadcast
May 26 17:34:42 graninilan.fvds.ru celery[317673]: [2025-05-26 11:34:42,807: INFO/MainProcess] Connected to redis://127.0.0.1:6379/0
May 26 17:34:42 graninilan.fvds.ru celery[317673]: [2025-05-26 11:34:42,815: INFO/MainProcess] mingle: searching for neighbors
May 26 17:34:43 graninilan.fvds.ru celery[317673]: [2025-05-26 11:34:43,829: INFO/MainProcess] mingle: all alone
May 26 17:34:43 graninilan.fvds.ru celery[317673]: [2025-05-26 11:34:43,844: INFO/MainProcess] celery@graninilan.fvds.ru ready.
